# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
import os
import numpy as np
import pandas as pd

In [ ]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [4]:
#colab寫法
app_train = pd.read_csv('application_train.csv')

In [6]:
## 作業
#將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [18]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [23]:
sub_train = pd.get_dummies(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 7)

   FRIDAY  MONDAY  SATURDAY  SUNDAY  THURSDAY  TUESDAY  WEDNESDAY
0       0       0         0       0         0        0          1
1       0       1         0       0         0        0          0
2       0       1         0       0         0        0          0
3       0       0         0       0         0        0          1
4       0       0         0       0         1        0          0

In [30]:
for i in sub_train.columns:
  print(sub_train[i].head())

0    0
1    0
2    0
3    0
4    0
Name: FRIDAY, dtype: uint8
0    0
1    1
2    1
3    0
4    0
Name: MONDAY, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: SATURDAY, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: SUNDAY, dtype: uint8
0    0
1    0
2    0
3    0
4    1
Name: THURSDAY, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: TUESDAY, dtype: uint8
0    1
1    0
2    0
3    1
4    0
Name: WEDNESDAY, dtype: uint8