# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {'國家':[i for i in range(1,11)] ,
        '人口': np.random.randint(100000,size=10)}
data = pd.DataFrame(data)

In [ ]:
data

   國家     人口
0   1  59852
1   2   4410
2   3  86231
3   4  30165
4   5  14452
5   6  13862
6   7  49185
7   8  78931
8   9  77851
9  10  83142

In [ ]:
data.sort_values(by='人口')[::-1].iloc[0]

國家        3
人口    86231
Name: 2, dtype: int64